/** style **/
body{
    background-color: #CC9B85;
    font-family: Verdana, sans-serif;
}
#lstPhone {
    width: 70%;
}

#lstPhone div {
    background-color:  #ffbfbe;
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}

input[type=text], input[type=tel], input[type=email]  {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width: 40%;
    margin: 15px 10px;
}

.btn-grad {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)}
.btn-grad {
    width: 40%;
    border: transparent;
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-family: Verdana;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
#create {
    width: 40%;
}

#create input {
    width: 35%;
}


